<p id="notice"><%= notice %></p>

<h1>Course Catalog</h1>

<table>
  <thead>
  <tr>
    <th>Course Number</th>
    <th>Name</th>
    <th>Price</th>
  </tr>
  </thead>


  <tbody>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.course_number %></td>
      <td><%= course.name %></td>
      <td><%= number_to_currency(course.price) %></td>
      <td>

        <%= form_with(url: add_to_cart_student_path(@student), method: :post, local: true) do |f| %>
          <%= f.select(:teacher, course.teacher_infos.all.collect { |a| [a.teacher.name, a.teacher.name] }, {select: true}) %>
          <%= f.hidden_field :course_id, :value => course.id %>
          <% student = Student.find(@student.id) %>
          <% if student.cart.course_packages.where(course_id: course.id).length > 0 %>
            <%= "Added" %>
          <% else %>
            <%= f.submit("Add to Cart") %>
          <% end %>
          <%= link_to 'Show', course %>
        <% end %>

      </td>


    </tr>
  <% end %>
  </tbody>
</table>

<br></br>

<%= link_to 'View Cart', student_cart_path(@student, @student.cart.id) %>
<%= link_to 'Back', student_path(@student) %>

